.newcard { 
padding-bottom: 30px; 
padding-top: 20px;
justify-content: auto;
text-align: center;
border-radius: 6px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
margin-right: 50px;
margin-left: 50px;
width: 400px;
margin: auto;
margin-top: 20px;
}

.newcard img{
	width: 250px;

}

.newcard h3{
	margin-top: -50px;
	font-weight: normal;
	color: red;
}

.twocards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 60px;

}

/*.newcard { 
display: flex;
padding: 30px; 
align-items: center;
justify-content: center;
justify-content: space-around;
border-radius: 6px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
}*/